@model DALlab3.Entities.SalesPerson

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalesQuota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesQuota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommissionPct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommissionPct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesYtd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesYtd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesLastYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesLastYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessEntity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessEntity.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Territory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Territory.CountryRegionCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusinessEntityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
